@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    font-family: "Alegreya Sans", sans-serif;
}

.quote {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}


/*.font-b {*/
/*  font-weight: 700 !important;*/
/*}*/

/*.font-l {*/
/*  font-weight: 300 !important;*/
/*}*/


body {
    background: #F1F5FC;

}

:root {

}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

/*holiday*/

.react-calendar .holiday {
    background: #00c400;
    color: white;
}

.react-calendar .christmas {
    background: #8003ae;
    color: white;
}

.react-calendar .mid-terms {
    background: #0367ae;
    color: white;
}

.react-calendar .eater-break {
    background: #c8969e;
    color: white;
}

.react-calendar .working-day {
    /*background: #ff8989; !* Цвет для рабочих дней *!*/
    /*color: white; !* Цвет текста для рабочих дней *!*/
}
